#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1); /* 좌우 반전 */
    z-index: -1; /* 비디오를 캔버스 뒤에 배치 */
}

#matter-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* 캔버스를 비디오 위에 배치합니다. */
}
